@import url('https://api.fontshare.com/v2/css?f[]=general-sans@701,200,500,301,201,300,601,600,401,501,400,700&display=swap');

body {
	font-family: 'Helvetica';
}
	
:root {
  /* Define variables para las fuentes */
  --font-family-variable: 'GeneralSans-Variable';
  --font-family-variable-italic: 'GeneralSans-VariableItalic';
  --font-family-extralight: 'GeneralSans-Extralight';
  --font-family-extralight-italic: 'GeneralSans-ExtralightItalic';
  --font-family-light: 'GeneralSans-Light';
  --font-family-light-italic: 'GeneralSans-LightItalic';
  --font-family-regular: 'GeneralSans-Regular';
  --font-family-italic: 'GeneralSans-Italic';
  --font-family-medium: 'GeneralSans-Medium';
  --font-family-medium-italic: 'GeneralSans-MediumItalic';
  --font-family-semibold: 'GeneralSans-Semibold';
  --font-family-semibold-italic: 'GeneralSans-SemiboldItalic';
  --font-family-bold: 'GeneralSans-Bold';
  --font-family-bold-italic: 'GeneralSans-BoldItalic';
}
